NJLIC-1.0.1--ios.dmg
NJLIC.build/
_CPack_Packages/
build/
doc/
install/
install_manifest.txt
install_manifest_Devel.txt
install_manifest_Unspecified.txt
libNJLIC.dylib
tagfile
NJLIC.xcodeproj/project.xcworkspace/
NJLIC.xcodeproj/xcuserdata/
.DS_Store


Debug-iphoneos/*.a*
Debug-iphonesimulator/*.a*
Release-iphoneos/*.a*
Release-iphonesimulator/*.a*
RelWithDebInfo-iphoneos/*.a*
MinSizeRel-iphoneos/*.a*
MinSizeRel-iphonesimulator/*.a*
RelWithDebInfo-iphonesimulator/*.a*

Debug-iphoneos/*.framework*
Debug-iphonesimulator/*.framework*
Release-iphoneos/*.framework*
Release-iphonesimulator/*.framework*
RelWithDebInfo-iphoneos/*.framework*
MinSizeRel-iphoneos/*.framework*
MinSizeRel-iphonesimulator/*.framework*
RelWithDebInfo-iphonesimulator/*.framework*

Debug-iphoneos/*.dylib*
Debug-iphonesimulator/*.dylib*
Release-iphoneos/*.dylib*
Release-iphonesimulator/*.dylib*
RelWithDebInfo-iphoneos/*.dylib*
MinSizeRel-iphoneos/*.dylib*
MinSizeRel-iphonesimulator/*.dylib*
RelWithDebInfo-iphonesimulator/*.dylib*

Debug-iphoneos/*.app*
Debug-iphonesimulator/*.app*
Release-iphoneos/*.app*
Release-iphonesimulator/*.app*
RelWithDebInfo-iphoneos/*.app*
MinSizeRel-iphoneos/*.app*
MinSizeRel-iphonesimulator/*.app*
RelWithDebInfo-iphonesimulator/*.app*
